<%=Diary.view_entry(params[:id])%><p>
  Comments:
<%Diary.show_comments(params[:id]).each do |comment| %>
  <%=comment.comment%><br>
  <% end %>
<form action='/diary'>
  <input type='submit' value='Home'>
</form>
